*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: lobster;
    src: url(../lobster/KdamThmorPro-Regular.ttf);
}

.logo{
    width: 100px;
    height: 70px;
    margin-top: 16px;
    margin-left: 16px;
}
.brand_name{
    position: absolute;
    top: 30px;
    left: 85px;
    font-size: 20px;
    font-family: lobster;
}
.navbar ul{
    float: right;
}
.nav_brand{
    display: inline-block;
}
.navbar ul li{
    display: inline-block;
    margin-right: 40px;
    margin-top: 30px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.nav_item ul{
    color: #2a84ac;
    letter-spacing: 5px;
    transition-duration: 1s;
}

.cart{
    display: inline-block;
    position: relative;
    top: -15px;
    right: -10px;
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
}

.bg_image{
    width: 100%;
}
.bg_text{
    position: absolute;
    top: 250px;
    left: 100px;
}
.bg_title{
    font-family: lobster;
    font-weight: unset;
    margin-bottom: 15px;
}
.shop_now{
    margin-top: 15px;
    border: 1px solid #2a84ac;
    padding: 10px 20px;
    color: #2a84ac;
    outline: none;
}
.shop_now:hover{
    background-color: #2a84ac;
    color: white;
    cursor: pointer ;
}
/*Start Product*/
.product{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
.product_header{
    text-align: center;
    margin-top: 50px;
}
.divided{
    width: 100px;
    margin: auto;
    border: 2px solid #2a84ac;
}
.product_img{
    width: 100px;
    box-shadow: 0px 10px 20px rgb(0, 0, 0);
    border-radius: 5px;
}
.add_to_cart{
    padding: 10px 15px;
    border-radius: 17px;
    border: 1px solid #2a84ac;
    background-color: #e4e4e4;
    outline: none;
}
.discount{
    font-size: 13px;
    color: red;
    text-decoration: line-through;
/*End Product*/
}
.about{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-image: url(/images/bg.jpg);
    color: white;
    text-align: center;
}
.about_div{
    padding: 70px;
}
.divid{
    width: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*package*/

.packaging_header{
    margin-top: 50px;
    margin-left: 80px;
}
.packaging_img{
    margin-left: 80px;
    border-radius: 5px;
    width: 40%;
    float: left;
}
.packaging_text{
    position: relative;
    left: 50px;
    width: 90%;
}
.packaging_text h2{
    text-transform: uppercase;
}
.packaging_icon{
    padding-right: 10px;
    display: inline-block;
}
.packaging_text_header{
    margin-top: 25px;
}
/*package*/

/*clear*/

.clear{
    clear: both;
}

/*service*/

.service{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #e4e4e4;
    margin-top: 50px;
    padding: 30px 60px;
}
.service_text{
    display: inline-block;
    margin-left: 30px;
}
.service_header{
    font-size: 25px;
    font-weight: bold;
}

/*  footer*/

.footer{
    text-align: center;
    background-color: rgb(61, 58, 58);
    padding: 50px;
}
.footer a{
    color: white;
    text-decoration: none;
    margin: 20px;
}
.footer p{
    margin-top: 20px;
    color: white;
    margin-bottom: 20px;
}

/*contact page*/
.contact_header{
    text-align: center;
}

.form{
    width: 80%;
    margin: auto;
}
input[type="text"],input[type="number"],input[type="date"],input[type="email"]{
    width: 100%;
    height: 40px;
    outline: none;
}

input[type="text"]:focus,input[type="number"]:focus,input[type="email"]{
    border: 4px solid #555;
}

input[type="radio"]:checked + label{
    color: red;
    letter-spacing: 10px;
}

#address{
    width: 100%;
    height: 100px;
}
.contact_button{
    float: right;
}
.iframe{
    margin-left: 80px;
    border-radius: 5px;
    width: 80%;
    float: right;
}
.contact_grid{
    display: grid;
    grid-template-columns: auto auto;
}

/*Start Blog*/
.blog{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
.product_header{
    text-align: center;
    margin-top: 50px;
}
.divided{
    width: 100px;
    margin: auto;
    border: 2px solid #2a84ac;
}
.product_img{
    width: 100px;
    border-radius: 5px;
}
.add_to_cart{
    padding: 10px 15px;
    border-radius: 17px;
    border: 1px solid #2a84ac;
    background-color: #e4e4e4;
    outline: none;
}
.discount{
    font-size: 13px;
    color: red;
    text-decoration: line-through;
}
/*End Blog*/

/*About*/

.about_img{
    margin-left: 80px;
    border-radius: 5px;
    width: 20%;
    float: left;
}
.about_text{
    position: relative;
    left: 50px;
    width: 90%;
}
.about_text h2{
    text-transform: uppercase;
}
.about_icon{
    padding-right: 10px;
    display: inline-block;
}
.about_text_header{
    margin-top: 25px;
}
/*About*/